<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="alarmForm">
    <form action="#" method="post" th:action="@{/alarmForm}" th:object="${alarmForm}">
        <div class="row mt-2">
            <div class="form-group col-md-7  col-xs-12">
                <label class="custom-label" for="arrivalTime" th:text="#{input.arrivalTime.label}">
                </label>
                <input class="custom-input custom-time-input" id="arrivalTime" th:field="*{arrivalTime}"
                       type="time">
                <div class="input-error-text"
                     th:if="${bindingResult != null && bindingResult.getFieldError('arrivalTime') != null}"
                     th:text="#{${bindingResult.getFieldError('arrivalTime').getCode()}}"></div>
            </div>
        </div>

        <div class="divider div-transparent mt-3"></div>

        <div class="row mt-2">
            <div class="form-group col-md-7 col-xs-12">
                <label class="custom-label" for="timeToGetReady" th:text="#{input.timeToGetReady.label}">
                </label>
                <input class="custom-input custom-text-input" id="timeToGetReady" th:field="*{timeToGetReady}"
                       th:placeholder="#{input.timeToGetReady.placeholder}"
                       type="number">
                <div class="input-error-text"
                     th:if="${bindingResult != null && bindingResult.getFieldError('timeToGetReady') != null}"
                     th:text="#{${bindingResult.getFieldError('timeToGetReady').getCode()}}"></div>
            </div>
        </div>

        <div class="divider div-transparent mt-3"></div>

        <div class="row mt-2">
            <div class="form-group col-md-7 col-xs-12">
                <label class="custom-label" for="residence" th:text="#{input.residence.label}">
                </label>
                <input class="custom-input custom-text-input" id="residence" th:field="*{addressResidence}"
                       th:placeholder="#{input.residence.placeholder}"
                       type="text">
                <div class="input-error-text"
                     th:if="${bindingResult != null && bindingResult.getFieldError('addressResidence') != null}"
                     th:text="#{${bindingResult.getFieldError('addressResidence').getCode}}"></div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="form-group col-md-7 col-xs-12">
                <label class="custom-label" for="destination" th:text="#{input.destination.label}">
                </label>
                <input class="custom-input custom-text-input" id="destination" th:field="*{addressDestination}"
                       th:placeholder="#{input.destination.placeholder}"
                       type="text">
                <div class="input-error-text"
                     th:if="${bindingResult != null && bindingResult.getFieldError('addressDestination') != null}"
                     th:text="#{${bindingResult.getFieldError('addressDestination').getCode()}}"></div>
            </div>
        </div>

        <div class="row mt-3" id="transportCheckBoxes">
            <div class="col-12">
                <label class="custom-label" for="transportCheckBoxes" th:text="#{input.transport.type.label}">
                </label>
            </div>
            <div class="col-12">
                <input id="transportCheckboxBus" th:field="*{useBus}" type="checkbox">
                <label class="custom-checkbox-label" for="transportCheckboxBus"
                       th:text="#{input.transport.type.bus}"></label>
            </div>
            <div class="col-12 mt-1">
                <input id="transportCheckboxUAndSBahn" th:field="*{useSAndUBahn}" type="checkbox">
                <label class="custom-checkbox-label" for="transportCheckboxUAndSBahn"
                       th:text="#{input.transport.type.SandUBahn}"></label>
            </div>
            <div class="col-12 mt-1 mb-2">
                <input id="transportCheckboxTram" th:field="*{useTram}" type="checkbox">
                <label class="custom-checkbox-label" for="transportCheckboxTram"
                       th:text="#{input.transport.type.tram}"></label>
            </div>
        </div>

        <div th:if="${alarmForm != null and alarmForm.calculatedAlarmTime != null}">
            <div class="divider div-transparent mt-3"></div>
            <div class="row mt-1">
                <div class="col-12 result-text text-center">
                    <span th:text="#{result.calculate.text}"></span>
                    <strong th:text="${alarmForm.calculatedAlarmTime}"></strong>
                </div>
            </div>
        </div>
        <div th:if="${alarmFormSavedToDb != null}">
            <div class="divider div-transparent mt-3"></div>
            <div class="row mt-1">
                <div class="col-12 result-text text-center">
                    <span th:text="#{result.save.text}"></span>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="d-flex justify-content-center col-md-9 col-xs-12">
                <button class="custom-button calculate-button" name="action" style="margin-right: 45px;"
                        th:text="#{input.submitButton.calculate.text}" type="submit" value="calculate"></button>

                <button class="custom-button save-button" data-bs-target="#saveActionModal" data-bs-toggle="modal"
                        data-toggle="modal" th:text="#{input.submitButton.save.text}" type="button"></button>
            </div>
        </div>

        <!-- modal window for before save action -->
        <div class="modal fade" id="saveActionModal" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: var(--main-color-1)">
                    <div class="modal-header">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row text-center mb-4">
                            <div th:text="#{save.description}"></div>
                        </div>
                        <div class="row mt-4 mb-3">
                            <div class="form-group col-12">
                                <label class="custom-label" for="name" th:text="#{input.name.label}">
                                </label>
                                <input class="custom-input custom-text-input" id="name" th:field="*{name}"
                                       th:placeholder="#{input.name.placeholder}"
                                       type="text">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="custom-button save-button" name="action" style="max-width: 300px!important;"
                                th:text="#{input.submitButton.save.text}" type="submit" value="save"></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>