<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home - WakeApp</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<div class="container-flex" style="padding: 10px">

    <div class="row">
            <div class="d-flex justify-content-center title">
                <strong th:text="#{title}"></strong>
                <img alt="WakeApp Logo" class="pt-1 alarm-icon" th:src="@{/images/alarm-clock-icon.png}">
            </div>
    </div>

    <div class="row">
        <div class="mx-auto col-10 col-lg-6 col-md-8">
            <div class="mb-4 d-flex justify-content-center">
                <th:block th:switch="${#locale.toLanguageTag()}">
                    <div th:case="'de'">
                        <button class="link"
                                onclick="window.location.href='/?localeData=en'" type="button">Switch to English
                        </button>
                    </div>
                    <div th:case="'en'">
                        <button class="link"
                                onclick="window.location.href='/?localeData=de'" type="button">zu Deutsch wechseln
                        </button>
                    </div>
                </th:block>
            </div>
            <!--div class="row mt-2 mb-3">
                <div class="col-12 description" th:text="#{description}">
                </div>
            </div-->

            <div class="divider div-transparent mt-4"></div>

            <th:block th:include="fragments/previousFormsSelect.html :: previousFormsSelect">
            </th:block>

            <div class="divider div-transparent mt-3"></div>

            <th:block th:include="fragments/alarmForm.html :: alarmForm">
            </th:block>
        </div>
    </div>
</div>
</body>
</html>